<p>

  Boa '[% boa.contenido %]'
   
  Publicado por '[% boa.autor.nombreusuario %]'
   
  El dia [% boa.fecha %].

</p>

<div class="boton" style="width:150px">
  <a href="[% c.uri_for('/boas/list') %]">Ver todas las Boas</a>
</div>