[% META title = 'Crear una Boa' -%]

<form method="post" action="[% c.uri_for('form_create_do') %]">
  <table>
    <tr>
      <td>
        Autor:
      </td>
      <td>
        <input type="text" name="autor">
      </td>
    </tr>
    <tr>
      <td>
        Contenido:
      </td>
      <td>
        <input type="text-field" name="contenido" size="50" >
      </td>
    </tr>
  </table>
  <input type="submit" name="Submit" value="Submit">
</form>