[% USE Dumper(Indent=1) -%]

[% META title = 'Usuario creado satisfactoriamente' %]

<p>Se creó el usuario '[% usuario.nombreusuario %]'

perteneciente a [% usuario.nombres %] [% usuario.apellidos %].</p>

<div class="boton" style="width:150px">
  <a href="[% c.uri_for('/usuarios/list') %]">Volver a usuarios</a>
</div>
